:host, :host(*){
  all: initial;
}

.chat-button {
  position: fixed;
  bottom: -150px;
  right: 5px;
  z-index: 9999;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: none;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-button:focus {
  outline: none;
}

.title-button-img {
  height: 60px;
  width: 60px;
}

.button-img {
  height: 60px;
  width: 60px;
  position: absolute
}

.typers {
  padding-top: 7px;
  font-size: 12px;
  color: gray;
}

.chat-container{
  font-family: 'Helvetica Neue', sans-serif;
  position: fixed;
  opacity: 1;
  top: 0vh;
  height: 100vh;
  right: -260px;
  z-index: 9999;
  background: #e2e1e0;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.message-container {
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 230px);
  bottom: 110px;
  overflow: scroll;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.message-component {
  margin: 5px;
  width: auto;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
  transition: all cubic-bezier(0.39, 0.575, 0.565, 1);
}

.message-component-self {
  min-height: 50px;
  max-width: 200px;
  min-width: 110px;
  padding: 5px 15px;
  border-radius: 3px;
  color: white;
  background-color: #607d8b
;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin-right: 3px;
}

.message-component-others {
  min-height: 50px;
  max-width: 200px;
  min-width: 110px;
  padding: 5px 15px;
  border-radius: 3px;
  color: white;
  margin-right: auto;
  margin-left: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.message-component-username {
  display: block;
  margin: auto;
  padding-bottom: 5px;
}

.message-component-content-self {
  display: block;
  word-wrap: normal;
  margin-left: auto;
  padding: 5px 0;
  text-align: right;
}

.message-component-content-others {
  display: block;
  word-wrap: normal;
  margin-right: auto;
  padding-bottom: 5px;
}

.message-component-date {
  display: block;
  margin: auto;
  font-size: 8px;
}

.send-chat-container {
  width: 100%;
  display: block;
  height: 110px;
  position: relative;
}

.send-chat-textarea {
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  resize: none;
  display: block;
  margin: 0;
  outline: none;
  padding: 5px 15px;
  border-radius: 3px;
  border: none;
}

.send-chat-form {
  width: auto;
  height: 100%;
  box-sizing: border-box;
  display: block;
  margin: 0px 5px 5px 5px;
}

.send-chat-input {
  width: 100%;
  text-align: center;
  padding: 5px;
}

.btn-success {
  color: #fff;
  font-size: 20px;
  background-color: #5cb85c;
  border-width: 0;
  height: 35px;
  width: 75px;
  border-radius: 3px;
  margin-top: 10px;
  outline: none;
  bottom: 5px;
  position: absolute;
}

.btn-success:focus {
  outline: none;
}

.user-container {
  width: 100%;
  min-height: 35px;
  overflow: scroll;
  box-sizing: border-box;
  margin: 0px 5px auto 5px;
  border-radius: 3px;
  z-index: 99999;
  background-color: white;
  width: 240px;
}

.user-container-collapsed {
  max-height: 0px;

  overflow: scroll;
}

.title {
  height: 50px;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.circle-container {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 99999;
  overflow: visible;
}

.circle-title-container {
  display: flex;
  justify-content: space-between;
}

.outer-circle {
  height: 35px;
  width: 35px;
  position: relative;
}

.circle-component {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: white;
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: center;
}

.circle-title-component {
  color: white;
  text-align: center;
  height: 30px;
  padding: 5px 15px;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.number-of-messages-icon {
  background: red;
  color: white;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 3px;
  bottom: 3px;
  margin-top: 3px;
  padding-top: 2px;
}

.number-of-users-icon {
  color: white;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  padding-top: 2px;
  position: absolute;
  right: 5px;
  bottom: 0px;
}

.user-component {
  color: white;
  text-align: center;
  height: 30px;
  padding: 5px 15px;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.user-icon-container {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  position: relative;
}

.user-icon-in-user-container{
  height: 27px;
  padding-left: 8px;
  padding-top: 2px;
  margin-right: 10px;
}

.shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}