.chatButton-rakt-unclicked {
  position: fixed;
  top: 93vh;
  left: 96vw;
  z-index:99999;
  background: #2c75ea;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: 2px solid blue;
}

.chatButton-rakt-clicked {
  position: fixed;
  top: 93vh;
  left: 96vw;
  z-index:99999;
  background: #ea452c;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: 2px solid blue;
}

.chatbutton-img {
  position: relative;
  right: 100px;
  bottom: 100px;
}

.sendchat-component {
  width: 100%;
}

.chat-input {
  width: 85%;
}

.sendchat-btn{
  width: 29%;
  background-color: green;
  color: black;
  border: 2px solid blue;
  border-radius: 3px;
  margin: 5px 0px 5px 0px
}

.chatBoxx-rakt-in{
  animation: bounceChatBoxx 1s;
  position: fixed;
  top: 5vh;
  left: 80vw;
  z-index: 9999;
  background: #2c75ea;
  height: 90vh;
  width: 250px;
  border-radius: 5px;
  border: 2px solid blue;
}

.chatBoxx-rakt-out{
  animation: leaveChatBoxx 0.7s;
  position: fixed;
  top: 5vh;
  left: 80vw;
  z-index: 9999;
  background: #2c75ea;
  height: 90vh;
  width: 250px;
  border-radius: 5px;
  border: 2px solid blue;
}

.message-container-box {
  width: 97%;
  height: 57%;
  background-color: lightgrey;
  border: 1px solid grey;
  border-radius: 3px;
  overflow: scroll;
  margin: 5px 0px 5px 0px;
}

.user-container-box {
  width: 97%;
  height: 33%;
  background-color: #a1c4fc;
  border: 1px solid grey;
  border-radius: 3px;
  overflow: scroll;
  margin: 5px 0px 0px 0px;  
}

.message-component {
  width: 98%;
  margin: 1px 1px 1px 1px;
  text-align: center;
  border: 1px solid grey;
}

.message-component-part {
  display: inline-block;
  margin: 1px 2px 1px 2px;
}

@keyframes bounceChatBoxx{
  0% {
    transform: translateX(500px);
  }
  20% {
    transform: translateX(100px);
  }
  40% {
    transform: translateX(0px);
  }
  47% {
    transform: translateX(35px);
  }
  60% {
    transform: translateX(0px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes leaveChatBoxx{
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(400px);
  }
}